<h1>Picture Details</h1>
<%= link_to("Delete this picture", "http://localhost:3000/delete_picture/#{@pic.id}", :target => "_blank", :class => "btn btn-primary") %>
<p><%= image_tag("#{@pic.source}", :width => 200) %></p>
<p><%= @pic.caption %></p>