<h1>Picture Details</h1>
<%= link_to "Delete", picture_url(@pic.id), :method => "delete", :class => "btn btn-primary" %>
<p><%= image_tag("#{@pic.source}", :width => 200) %></p>
<p><%= @pic.caption %></p>